@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@300;400;500;600;700;800;900&family=Inter:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --font-family-azeret: 'Azeret Mono', monospace;
    --font-family-inter: 'Inter', sans-serif;
    --bg-color: #FFB100; 
    --primary-color: #F0ECCF;
}

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: var(--font-family-inter);
    font-weight: 700;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.45);
}

h1 {
    font-size: 4em;
}

h3 {
    font-size: 2em;
    margin-top: 20px;
}

.mensagem {
    font-size: 1.5em;
    margin-top: 40px;
}

.box {
    color: var(--bg-color);
    text-shadow: none;
    border: 6px solid var(--primary-color);
    width: 200px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.45);
    display: inline-block;
    font-size: 4em;
    padding: 25px 50px;
    margin: 20px;
}

#smile {
    margin-top: 25px;
}

.btn-jogar {
    font-family: var(--font-family-azeret);
    font-size: 1em;
    font-weight: bold;
    padding: 15px 25px;
    border: none;
    margin-top: 30px;
    background-color: var(--primary-color);
    color: rgba(0, 0, 0, 0.93);
    border-radius: 25px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.45);
    transition: 0.3s;
}

.btn-jogar:hover {
    transform: scale(1.1);
    cursor: pointer;
}